<a href="https://colab.research.google.com/github/denbonte/rogue-yoda/blob/main/map_nogp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup and Init

In [102]:
%%capture
!pip install icecream

In [103]:
import requests
import lxml.html as lh
import pandas as pd

from icecream import ic

# Webpage Scraping

In [104]:
#url = 'https://nogreenpassdocenti.wordpress.com/s/'

# create a handle, page, to handle the contents of the website
page = requests.get(url)

# store the contents of the website under doc
doc = lh.fromstring(page.content)

# parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [105]:
# for each row, store each first element (header) and an empty list
tr_elements = doc.xpath('//tr')
table_dict = dict()
idx = 0

for t in tr_elements[0]:
  idx += 1
  key = t.text_content()
  print('%d:"%s"'%(idx, key))
  table_dict[key] = list()

1:"Cognome"
2:"Nome"
3:"Qualifica e disciplina"
4:"Ateneo"

In [106]:
keys_list = list(table_dict.keys())

# since out first row is the header, data is stored on the second row onwards
for jdx in range(1, len(tr_elements)):
  # T is our j'th row
  T = tr_elements[jdx]
  
  # if row is not of size 4, the //tr data is not from our table 
  #if len(T) != 10:
  #  break
  
  idx = 0
  
  # iterate through each element of the row
  for t, key in zip(T.iterchildren(), keys_list):
    
    data = t.text_content() 
    #print(key, data)

    # convert everything to string
    try:
      data = str(data)
    except:
      pass

    if data == " " or data == "":
      data = "NA"
    
    table_dict[key].append(data)

# hard fix to the problem with the table (missing Ateneo in the last row)
table_dict["Ateneo"].append("NA")

In [107]:
df = pd.DataFrame(table_dict)

In [108]:
df.head()

     Cognome  ...                              Ateneo
0  Acquaviva  ...                Università di Torino
1      Adami  ...   Università degli Studi di Brescia
2     Afriat  ...  Université de Bretagne Occidentale
3    Almarai  ...   Università per Stranieri di Siena
4     Alpini  ...                  Università di Pisa

[5 rows x 4 columns]

# Data Preprocessing